html,body{
    height: 100%;
}
body{
    background: #f6f6f6;
}

.navbar-nav>li {
    float: none;
    display: inline-block;
    font-size: 18px;
}

.navbar-nav>li:hover{
    background: #e6e6e6;
}

.navbar-nav{
    float: none;
    text-align: center;
}

.todoWrapper{
    width: 90%;
    margin: 10px auto;
    border: 1px solid #000;
    border-radius:10px;
    background: rgba(0, 255, 255, 0.17);
    /*margin-bottom: 20px;*/
    padding: 10px;
}
.todoWrapper.urgent{
    background: rgba(205, 97, 108, 0.55);
}
.todoWrapper.todoDone{
    background: rgba(15, 205, 95, 0.55);
}
.column{
    border: 1px solid deepskyblue;
    border-radius: 10px;
    margin-bottom: 30px;
}

.columnTitle{
    text-align: center;
    background: deepskyblue;
    margin: 0 0 20px 0;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
}
.clearfix:after{
    content: '';
    clear: both;
    visibility: hidden;
    display: block;

}
ul{
    list-style-type: none;
}
.list{
    margin-bottom: 10px;
}
.select{
    text-align: center;
}
.urgentTask{
    background: red;
}
/*.mainWrapper{
    width: 100px;
    margin-left: 10px;
}*/

.filtersRow{
    margin-bottom: 30px;
}

.toRight{
    float: right;
}

.mainWrapper .title{
    font-size: 32px;
    line-height: 32px;
    color: #333;
    text-align: center;
    /*margin-top: -30px;*/
    /*margin-bottom: 20px;*/
}
.photo{
    margin-left: 170px;
    height: 100%;
}
.photo img{
    width: 50px;
}
ul{
    padding-left: 0;
}
.interact-icons{
    margin-top: -10px;
}
.interact-icons .fa{
    cursor: pointer;
    font-size: 22px;
    text-align: right;
    /*padding-top: 6px;*/
}

.deadlineTodo{
    background: rgba(255, 0, 0, 0.6);
    /*text-align: center;*/
    /*margin: 20px 0;*/
}

.interact-icons.delete{
    text-align: right;
}
.panel-heading{
    padding: 10px 0;
}

.checkbox input[type=checkbox]{
    margin-left: 0;
}
.checkbox{
    margin-top: 0;
    margin-bottom: 0;
}
.oneTodocheckbox{
    width: 20px;
    height: 20px;
}

.oneTodoLabel{
    font-size: 18px;
    display: inline-block;
    margin-left: 20px;
}
/*
auth
*/
.auth{
    padding: 40px 0;
    background: #3ab18a;
}

.auth-form{
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

.auth-form-input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
    color: #333;
}
.btn-logIn{
    float: right;
}

label[for="remember"]{
    font-size: 20px;
    padding-left: 30px;
}

#remember{
    width: 20px;
    height: 20px;
}

.todo-form{
    box-sizing: content-box;
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    background: #f0f0f0;
}

.log-out{
    background: #baecba;
}

.error-auth{
    font-size: 20px;
    color: #ff0039;
    text-align: center;
    margin: 20px 0 0;
}