<li class="todo" ng-repeat="todo in listCtrl.todoLists">
    <div class="listWrapper clearfix"  ng-show="todo | stateFilter:$parent.$index">
        <div class="clearfix">
            <div class="checkboxWrapper"><input type="checkbox" ng-checked='{{todo.isChecked}}'></div>
            <div class="mainWrapper">
                <div class="title">{{todo.title}}</div>
                <div class="day">{{todo.day}}</div>
                <div class="day">{{todo.status}}</div>
            </div>
            <div class="photo"><img ng-src="{{todo.photo}}" alt=""></div>
            <div ng-class="{{todo.isUrgent}} ? 'urgentTask urgent' : 'urgent'">
                <input type="checkbox" ng-click="listCtrl.makeUrgent($event)" ng-checked='{{todo.isUrgent}}'>
            </div>
        </div>
        <div>
            <select name="select" id="" ng-model="columns" ng-change="listCtrl.selectChanged(columns,todo)" option>
                <option value="{{listCtrl.columns[0]}}" ng-selected="{{todo.statusId === 0}}">Todo</option>
                <option value="{{listCtrl.columns[1]}}" ng-selected="{{todo.statusId === 1}}">In process</option>
                <option value="{{listCtrl.columns[2]}}" ng-selected="{{todo.statusId === 2}}">Testing</option>
                <option value="{{listCtrl.columns[3]}}" ng-selected="{{todo.statusId === 3}}">Done</option>
            </select>
            <div>data = {{columns}}</div>
            <!--<select name="select" id="" ng-model="listCtrl.columns[$parent.$index]" ng-change="listCtrl.selectChanged()">
                <option ng-repeat="colName in listCtrl.columns track by $index" value="{{colName}}" ng-selected="{{todo.statusId === $index}}">{{colName}}</option>
            </select>-->
        </div>
    </div>
</li>