<section class="todoWrapper" ng-class="{urgent:todo.isUrgent}">
    <div class="row">

        <div class="col-sm-offset-2 col-sm-8">
            <div class="mainWrapper">
                <div class="title">{{todo.title}}</div>
            </div>
        </div>
        <div class="col-sm-2 interact-icons">
            <a ui-sref="edittodo({id:todo.id})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <i class="fa fa-times" aria-hidden="true" ng-click="todoCtrl.deleteTodo(todo)"></i>
        </div>
    </div>
    <div class="row">

     <!--   <div class="col-sm-6">
            <div class="checkbox">
                <input type="checkbox" class="oneTodocheckbox" ng-click="todoCtrl.makeUrgent($event,todo)" ng-checked='todo.isUrgent'>
                <span class="oneTodoLabel">Urgent </span>
            </div>
        </div>-->
<!--        <div class="col-sm-offset-3 col-sm-6">
            <div class="select">
                <select ng-model="todoCtrl.column" class="form-control" ng-change="todoCtrl.selectChanged(todoCtrl.column,todo)">
                    <option ng-repeat="column in columns" value="{{column.id}}">{{column.name}}</option>
                </select>
            </div>
        </div>-->
    </div>
</section>