<section class="auth">
    <form class="auth-form">
        <h3>Please, log in or sign in</h3>
        <div class="form-group">
            <input type="text" class="auth-form-input" ng-model="authCtrl.user.login" placeholder="input your login">
        </div>

        <div ng-show="authCtrl.show" class="error-auth">{{authCtrl.responseText}}</div>
        <div class="form-group">
            <input type="password"  class="auth-form-input" ng-model="authCtrl.user.password" placeholder="input your password">
        </div>
        <div class="checkbox">
            <input type="checkbox" id="remember"
                   ng-model="authCtrl.user.remember"
                   ng-checked="authCtrl.user.remember"><label for="remember">Remember me</label>
        </div>
        <button type="submit" class="btn btn-info btn-lg" ng-click="authCtrl.createNewUser($event)">Sign Up</button>
        <button type="submit" class="btn btn-success  btn-lg btn-logIn" ng-click="authCtrl.loginUser($event)">Log In</button>
    </form>
</section>